body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.9fr 5fr;
  /* grid-template-columns: 15% 85%; */
}
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px 10px 0 10px;
  display: grid;
  grid-template-columns: 5fr 2.5fr 0.4fr;
}

.headerName1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 32px;
  color: #555555;
}
.headerName1:hover {
  color: #4caf50;
  cursor: pointer;
}
.headerName2 {
  font-weight: 900;
  font-size: 32px;
  cursor: pointer;
  font-family: "Montserrat";
  color: #4caf50;
}
.headerLine {
  font-family: "Segoe UI";
  letter-spacing: 3px;
  word-spacing: 5px;
}
.headerButton {
  background-color: #4caf50;
  padding: 12px;
  color: white;
  border-radius: 10%;
  font-weight: 600;
  border: none;
}
.headerButton:hover,
.sectionFourSmallerButtons button:hover,
.sectionFourMainButtons button:hover,
.exampleSection button:hover,
.sectionSeven button {
  cursor: pointer;
  background-color: green;
}

.navbar {
  background-color: #4caf50;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.navbarButtons button {
  font-size: larger;
  letter-spacing: 4px;
  font-family: "Segoe UI";
  border: none;
  color: #f1f1f1;
  padding: 10px;
  background-color: #4caf50;
}
.navbarButtons button:hover {
  border: none;
  padding: 10px;
  color: black;
  cursor: pointer;
  background-color: #f1f1f1;
}
.navbarSocial button {
  color: #f1f1f1;
  font-size: larger;
  border: none;
  background-color: #4caf50;
  padding: 12px 15px;
}
.navbarSocial button:hover {
  cursor: pointer;
  color: black;
  background-color: #f1f1f1;
}

.sidebar {
  background-color: #f1f1f1;
  border-right: 2px darkgrey;
  box-shadow: 2px 0 #e8e8e8e8;
  /* border-right-style: ;   */
  position:static;
  z-index: 1;
}
.sidebar h4 {
  font-family: "Segoe UI";
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 17px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.sidebar a {
  padding-left: 17px;
  margin-right: 0;
  font-family: Verdana;
  display: grid;
  line-height: 1.5;
}
.sidebar a:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.rightsidePart1 {
  display: flex;
  height: 475px;
  /* background-color: #ffffff; */
}
.rightsidePart2 {
  display: flex;
  height: 475px;
  background-color: #f1f1f1;
}
.section {
  width: 50%;
  padding: 20px;
}
.section h1 {
  font-family: "Segoe UI";
  color: #555555;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 3px;
  text-align: center;
}
.section p {
  font-family: Verdana;
  text-align: center;
  color: #3a3a3a;
  font-size: 22px;
  word-spacing: 4px;
}
.section button,
.sectionTwoBox button,
.sectionThreeBox button,
.sectionFive button,
.sectionSixButton {
  background-color: #616161;
  color: white;
  border: none;
  padding: 15px;
  font-family: Verdana;
  word-spacing: 1px;
  font-size: 15px !important;
  margin: 10px 10px;
}
.section button:hover,
.sectionTwoBox button:hover,
.sectionThreeBox button:hover,
.sectionFive button:hover,
.sectionSixButton:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}
.sectionButtons {
  text-align: center;
}
.exampleSection {
  width: 50%;
  background-color: #f1f1f1;
  margin: 40px 40px 40px 70px;
  padding: 20px;
}
.exampleSection h1 {
  color: black;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
}
.exampleSection p {
  padding: 30px;
  font-family: Verdana;
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: 100;
  line-height: 1.4;
  border-left: 4px solid #4caf50;
}
.exampleSection button,
.sectionSeven button {
  border: none;
  color: #f1f1f1;
  background-color: #4caf50;
  padding: 15px;
  font-family: Verdana;
  word-spacing: 1px;
  font-size: 15px;
}
.sectionTwo {
  background-color: #616161;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.sectionTwoBox {
  margin: 40px 40px 40px 40px;
  width: 37%;
  height: fit-content;
  background-color: #f1f1f1;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.sectionTwoBox h1,
.sectionTwoBox h3 {
  font-weight: 300;
  letter-spacing: 3px;
  font-family: "Segoe UI";
  letter-spacing: 2px;
}
.sectionTwoBox h1 {
  font-weight: 400;
}

.sectionThree {
  background-color: #f1f1f1;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sectionThreeBox {
  height: fit-content;
  background-color: #f1f1f1;
  align-items: center;
  padding: 40px;
  text-align: center;
  height: max-content;
}
.sectionThreeBox h1,
.sectionThreeBox h3 {
  font-weight: 300;
  letter-spacing: 3px;
  font-family: "Segoe UI";
  letter-spacing: 1px;
}
.sectionThreeBox h1 {
  font-weight: 400;
}
.sectionThreeBox img:hover,
.sectionFive img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.sectionFour {
  background-color: #616161;
  color: white;
  text-align: center;
  padding: 20px;
}
.sectionFour h1,
.sectionFive h1,
.sectionSix h1 {
  font-family: "Segoe UI";
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
}
.sectionFour h3,
.sectionFive h3,
.sectionSix h3 {
  font-family: Verdana;
  font-weight: 300;
  letter-spacing: 1px;
}
.sectionFourMainButtons button,
.sectionFourSmallerButtons button {
  border: none;
  color: #f1f1f1;
  background-color: #4caf50;
  padding: 15px;
  font-family: Verdana;
  word-spacing: 1px;
  font-size: 15px;
  width: 30%;
  margin: 0 10px;
}

.sectionFourSmallerButtons button {
  width: 11%;
  margin: 10px 10px;
}
.sectionFive,
.sectionSix {
  text-align: center;
  background-color: #f1f1f1;
}
.sectionFive img {
  width: 900px;
  margin: 16px 0 20px 0;
}
.sectionSix {
  background-color: #ffffff;
}

.sectionSixSection {
  display: grid;
  grid-template-columns: 50% 50%;
}
.sectionSixSectionDiv1,
.sectionSixSectionDiv2 {
  border: 4px solid lightgray;
  width: 500px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 25% 75%;
  overflow: scroll;
}
.sectionSixSectionDiv1 {
  margin-left: 100px;
}
.Div1Sidebar,
.Div2Sidebar {
  background-color: #111;
  padding-top: 20px;
}
.Div1Sidebar button {
  border: none;
  width: 100%;
  background-color: #111;
  color: #818181;
  padding: 10px;
  font-size: large;
}
.Div1Sidebar button:hover {
  color: #f1f1f1;
  cursor: pointer;
}
.Div1Main,
.Div2Main {
  text-align: left;
  padding: 10px;
}
.Div2Sidebar {
  background-color: #ffffff;
}
.Div2Sidebar button {
  border: none;
  color: #2196f3;
  font-size: large;
  padding: 10px;
}
.Div2Sidebar button:hover {
  color: black;
  cursor: pointer;
}
.buttonsBlock {
  background-color: #f1f1f1;
  color: #2196f3;
  margin: 20px 10px;
}

.sectionSeven {
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: #111;
  
}

.sectionSevenBox  {
  height:500px;
  background-image: url(img/getcertified.jpg);
  color:#ffffff;
  margin: 0 200px;
}
.sectionSevenBox h1 ,.sectionSevenBox h3{
  font-size: 32px;
  font-weight: 300;
  font-family: 'Segoe UI';
}
.sectionSeven button{
  padding: 10px;
  margin-top: 100px;
}
.sectionEight{
  height: 300px;
  background-color: #616161;
  padding: 80px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows:50% 50%;
  margin-bottom:160px;

}
.sectionEight button{
  border: none;
  padding: 10px;
  cursor: pointer;
  font-family: Verdana;
  font-size: large;
}
.sectionEight a{
  letter-spacing: 1px;
  color: white;
text-decoration:none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sectionEightLink{
  margin-left: 300px;
  color: white;

}
.sectionEightLink a:hover{
  color: lightgreen;
}
.sectionEightButtons button:hover{
  background-color: #818181;
}
.sectionEightDesc{
  color: #ffffff;
  text-align: center;
  font-family: Verdana;
  grid-column: 1/-1;
  margin-top: -100px;
}
.thumb{
  margin-top: 40px;
  font-size: 30px;
}
.sectionEightDesc button{
  margin-top: 30px;
  background-color: #4caf50;
  color: #ffffff;
  padding: 20px;
}
.sectionEightDesc button:hover{
  color: #111;
  background-color: #818181;
}
